.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  /* background-color: #EAF6F6; */
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  /* color: #FF0063; */
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.container button{
  position: relative;
  margin-top: 30px;
  align-items:center;
  width: 120px;
  height: 40px;
  background: #edf1f4;
  border-radius: 99px;
  border:none;
  outline:none;
}
.container button:hover{
  background-color: #4ECCA3;
}